#login-form {
  width: 100%;
  @include MQ(M) {
    width: 300px;
  }
  @include MQ(L) {
    width: 450px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include MQ(M) {
    justify-content: flex-start;
  }
}