<nav class="app-side-nav">
	<ul>
	{{ $currentPage := . }}
	{{ range .Site.Menus.main }}
		<li>
			{{/* This gets checks if the page is in the active section and adds the active class */}}
			<a class='{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active {{end}}sidebar-nav-item' href="{{ .URL }}" title="{{ .Title }}">
				{{ .Name }}
			</a>
		</li>
	{{ end }}
	</ul>
	<div id="social-icons">
		<ul id="social-list">
			<li class="social-icon">
				<a href="https://www.linkedin.com/in/kmmcgowa/" target="_blank">
					<i class="fab fa-linkedin fa-lg"></i>
				</a>
			</li>
			<li class="social-icon">
				<a href="https://www.instagram.com/kevinmusc/" target="_blank">
					<i class="fab fa-instagram fa-lg"></i>
				</a>
			</li>
			<li class="social-icon">
				<a href="https://github.com/kmmcgowa" target="_blank">
					<i class="fab fa-github-square fa-lg"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>

